# API requirements
Flask==2.1.1
Flask-Login==0.6.0
Flask-SQLAlchemy==2.5.1
psycopg2==2.9.3
gunicorn==20.1.0

# Observability requirements
loguru==0.6.0
py-healthcheck==1.10.1
prometheus_client==0.14.1

# NLP requirements
google-cloud-language==2.4.1
spacy==3.2.4
spacy_langdetect==0.1.2
iso639==0.1.4
transliterate==1.10.2

# spaCy models
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.2.0/ru_core_news_sm-3.2.0.tar.gz