{% extends 'base.html' %}

{% block title %} Phrase Finder {% endblock %}

{% block content %}
    <h3 class="title">Phrase Finder</h3>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="notification is-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}

    <div class="box">
        <form method="POST" action="/phrase-finder">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <label>
                                <textarea class="textarea" name="text" placeholder="Text" autofocus="">{{ text }}</textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <label>
                                <textarea class="textarea" name="phrases" placeholder="Phrases to be found. You can find multiple phrases separated by enter.">{{ phrases }}</textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Find</button>
        </form>

        {% if found_phrases is not none %}
            <div class="field has-text-left box" style="margin-top: 50px">
                <p>{{ found_phrases | safe }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}