{% extends 'base.html' %}

{% block title %} Text Analyzer {% endblock %}

{% block content %}
    <h3 class="title">Text Analyzer</h3>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="notification is-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}

    <div class="box">
        <form method="POST" action="/text-analyzer">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <label>
                                <textarea class="textarea" name="text" placeholder="Text" autofocus="">{{ text }}</textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <div class="select is-large">
                            <label>
                                <select name="analyzis_type">
                                    {% for option in available_analyzis %}
                                        <option>{{ option }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Analyze</button>
        </form>

        {% if analyzis is not none %}
            <div class="field is-horizontal box" style="margin-top: 50px">
                <div class="field-body">
                    <div class="field">
                        <p>{{ analyzis | safe }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}